*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#EF8354 ;
}
.container{
    background-color:white;     ;
    padding: 3rem;
    border-radius: 2rem;
    min-height: 30vh;
    width: 50vh;
}
form{
    margin: 2rem 0 1rem 0;
}

from select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightblue;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.50rem;
}
.dropdown i{
    font-size: 2rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


.select-container img{
    max-width: 0.75 rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.75rem;
    background-color: yellow;
    border: 1px solid lightblue;

}
.select-container select{
    font-size: 1rem;
    width: auto;
}



.Message{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color:#4C2C69 ;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}